.frame {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-group-wrapper {
    background-color: #c4c4c4;
    width: 1482px;
    height: 1095px;
  }
  
  .frame .overlap-group {
    position: relative;
    height: 1095px;
    background-image: url(frame.jpeg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .overlap {
    position: absolute;
    width: 888px;
    height: 102px;
    top: 196px;
    left: 244px;
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 888px;
    top: 0;
    left: 0;
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 0.8px #8f4814;
    font-family: "Sacramento-Regular", Helvetica;
    font-weight: 400;
    color: #8f4814;
    font-size: 52px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .element-BLOCK-m-NEW {
    position: absolute;
    top: 65px;
    left: 0;
    font-family: "Sans Serif Collection-Regular", Helvetica;
    font-weight: 400;
    color: #764d27;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div {
    position: absolute;
    width: 980px;
    top: 505px;
    left: 248px;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "Scope One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .p {
    position: absolute;
    top: 641px;
    left: 244px;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "Scope One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
  }
  
  .frame .theme-prithibi-abar {
    position: absolute;
    width: 593px;
    top: 594px;
    left: 248px;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "Scope One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 424px;
    height: 240px;
    top: 692px;
    left: 244px;
  }
  
  .frame .white-palace-hotel {
    position: absolute;
    top: 39px;
    left: 0;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "Scope One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 423px;
    height: 200px;
    top: 40px;
    left: 1px;
    background-color: #d9d9d9;
    mix-blend-mode: soft-light;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "Scope One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 124px;
    height: 40px;
    top: 0;
    left: 1px;
    background-color: #d9d9d9;
    mix-blend-mode: soft-light;
  }
  
  .frame .overlap-3 {
    position: absolute;
    width: 479px;
    height: 215px;
    top: 692px;
    left: 820px;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 182px;
    height: 38px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    mix-blend-mode: soft-light;
  }
  
  .frame .suruchi-medical {
    position: absolute;
    width: 479px;
    top: 37px;
    left: 0;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "Scope One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .rectangle-4 {
    position: absolute;
    width: 479px;
    height: 175px;
    top: 40px;
    left: 0;
    background-color: #d9d9d9;
    mix-blend-mode: soft-light;
  }
  
  .frame .overlap-4 {
    position: absolute;
    width: 178px;
    height: 55px;
    top: 998px;
    left: 1121px;
    background-color: #c89651;
    border-radius: 40px;
    border: 1px solid;
    border-color: #000000;
    box-shadow: inset 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-5 {
    position: absolute;
    width: 178px;
    height: 55px;
    top: -1px;
    left: -1px;
    background-color: #c89651;
    border-radius: 40px;
    border: 1px solid;
    border-color: #000000;
    box-shadow: inset 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 97px;
    top: 12px;
    left: 30px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Short Stack-Regular", Helvetica;
    font-weight: 400;
    color: #562f10;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .goonlinetools-image {
    position: absolute;
    width: 416px;
    height: 194px;
    top: 299px;
    left: 244px;
    object-fit: cover;
  }
  
  .frame .img {
    position: absolute;
    width: 438px;
    height: 194px;
    top: 299px;
    left: 741px;
    object-fit: cover;
  }